<html>
<head>
    <title>Test</title>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@6.1.2/bundles/stomp.umd.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.6/vue.min.js"></script>
</head>

<body>
<div id="app">
    <h1>Stock Price</h1>
    <div v-if="!connected"><p style="color:red">connecting...</p></div>
    <div>
        <ul>
            <li v-for="m in list1">{{m.name}}: {{m.price}}</li>
        </ul>
    </div>
    <div>
        <ul>
            <li v-for="m in list2">{{m.name}}: {{m.price}}</li>
        </ul>
    </div>
</div>
</body>
<script>

let stompClient = null;

var vm = new Vue({
	el: '#app',
	data: {
		message: 'Dynamic Content',
		list1: [],
		list2: [],
		connected: false
	},
	mounted: function () {
		let self = this;
		stompClient = new StompJs.Client({
			brokerURL: 'ws://localhost:8080/test-info',
			debug: function (str) {
				console.log(str);
			},
		});
		stompClient.onConnect = frame => {
			self.connected = true;
			console.log('Connected: ' + frame);
			stompClient.subscribe('/stock/price', function (val) {
				console.log(val);
				console.log(JSON.parse(val.body));
				vm.list1 = JSON.parse(val.body);
			});
		};
		stompClient.onWebSocketClose = event => {
			self.connected = false;
		};
		stompClient.activate();
		if(stompClient.connected){
		 	// 订阅
		 	stompClient.subscribe('/stock/price-fast', function (val) {
				console.log(val);
				console.log(JSON.parse(val.body));
				vm.list2 = JSON.parse(val.body);
			});
		} else {
			// 延时执行subscribe
			let timer = setInterval(function(){
			    // 清除计时器
			    if(stompClient.connected){
                     stompClient.subscribe('/stock/price-fast', function (val) {
                        console.log(val);
                        console.log(JSON.parse(val.body));
                        vm.list2 = JSON.parse(val.body);
                    });
                    clearInterval(timer)
			    }
			},5000)
		}
	},
})

</script>
</html>